$darkMint: rgb(0, 86, 98);

.book-details {
  background-color: rgb(255, 255, 255);
  color: #000;
  min-height: 100vh;

  &-cover {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 20px;
    left: 0;
    overflow: hidden;

    div {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(218, 142, 0, 0.327);
      transform: scale(1.1);
      filter: blur(10px) brightness(80%);
    }
  }

  .book {
    z-index: 1;
    position: relative;
    display: flex;
    padding-top: 50px;

    &-info {
      margin-left: 30px;

      &_title {
        font-size: 50px;
        color: #fff;
        height: 80px;
        overflow: hidden;
      }
      &_authors {
        color: #fff;
        font-size: 17px;
        margin: 20px 0px 45px 0px;
        height: 15px;
      }

      .stars {
        display: flex;
        &-item {
          background-color: rgb(255, 228, 75);
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
      &_desc {
        .desc-wrapper {
          display: flex;
          align-items: center;
          button {
            font-size: 15px;
            color: #af7500;
            margin-top: 5px;
            &:hover {
              color: #ffba2e;
            }
          }
        }
      }
      &_list {
        margin-top: 10px;
        li {
          margin: 10px 0px;
        }
        .categories-wrapper {
          span:not(.key) {
            font-size: 12px;
            background-color: #ffba2e;
            padding: 5px;
            border-radius: 4px;
            display: inline-block;
            margin: 2px 5px 2px 0px;
          }
        }
      }
      .key {
        margin-right: 5px;
        font-weight: bold;
      }
    }
    &-preview {
      text-align: center;

      img {
        width: 250px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 15px;
      }
      &_link {
        display: inline-block;
      }
    }
  }
}

.button-styles {
  background-color: #ffba2e;
  color: #fff;
  padding: 13px 30px;
  border-radius: 12px 6px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat";
  margin-top: 20px;
}

i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
