body {
  background-color: rgb(5, 83, 94);
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
}
body,
div,
p,
span,
a,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style-type: none;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  display: block;
}
.logo {
  text-align: center;
  margin-top: 17vh;
  font-size: 80px;
  span {
    color: rgb(253, 215, 108);
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
  .logo {
    font-size: 55px;
  }
}
