$darkMint: rgb(0, 86, 98);
$yellow: #ffb92e;

body {
  background-color: $darkMint;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
}
body,
div,
p,
span,
a,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
button {
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  text-align: center;
  margin-top: 17vh;
  font-size: 80px;
  span {
    color: $yellow;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 700px) {
  .container {
    width: 95%;
  }
  .logo {
    font-size: 55px;
  }
}
